[submodule "src/child"]
	path = src/child
	url = https://github.com/Wrightlt/child.git
	branch = master
[submodule "src/submodule2"]
	path = src/submodule2
	url = https://github.com/Wrightlt/submodules2.git
[submodule "src/child3"]
	path = src/child3
	url = https://github.com/Wrightlt/test1.git
[submodule "src/child4"]
	path = src/child4
	url = https://github.com/Wrightlt/hello-tsc.git
